<div class="card">
    <h5 class="card-header">List of services</h5>
    <div class="card-body">
        {% if service %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Service Name</th>
                    <th>Package Name</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Order Date</th>
                    {% if request.user.is_superuser %}
                        <th class="text-center">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for obj in service %}
                    <tr>
                        <td>{{ obj.owner }}</td>
                        <td>{{ obj.service_name }}</td>
                        <td>{{ obj.package_name }}</td>
                        <td>{{ obj.category }}</td>
                        <td>{{ obj.location }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{% if obj.is_active %} Available {% else %} Not Available
                        {% endif %}</td>
                        <td>{{ obj.created_at }}</td>
                        {% if request.user.is_superuser %}
                            <td class="text-center">
                                <a class="mr-2" href="{% url 'service_detail' obj.id %}"> <i class="fa fa-eye">
                                </i></a>
                                <a class="mr-2" href="{% url 'service_update' obj.id %}"> <i class="fa
                                        fa-edit">
                                </i></a>
                                <a href="{% url 'service_delete' obj.pk %}"> <i class="fa fa-trash"> </i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-center text-danger">Sorry! No service added.</h3>
        {% endif %}
        <!-- pagination -->
        {% if is_paginated %}
            {% include "category/pagination.html" %}
        {% endif %}
        <!-- end pagination -->
    </div>
</div>
