{% extends 'base.html' %}

{% block title %} Profile Update {% endblock %}

{% block content %}

    {% include 'agent/pageheader.html' %}

    {% include 'agent/message.html' %}

    <!-- profile update -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 pr-0">
        <div class="card">
            <h5 class="card-header">Update User Profile</h5>
            <div class="card-body">
                <form method="POST" class="agent_profile_create" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <label for="email">Profession</label>
                                {{ form.profession }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label for="contact_number">Age</label>
                                {{ form.age }}
                            </div>
                            <div class="form-group">
                                <label for="address"> Address</label>
                                {{ form.address }}
                            </div>
                            <div class="input-group custom_margin_top">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="imageUpload">Upload</span>
                                </div>
                                <div class="custom-file">
                                    {{ form.profile_picture }}
                                    <label class="custom-file-label" for="imageUpload">Profile Picture</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-space btn-primary btn-sm">save</button>
                    <button type="reset" class="btn btn-space btn-secondary btn-sm">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end profile update -->
    <!-- ============================================================== -->

{% endblock %}
