{% extends 'base_auth.html' %}
{% load static %}

{% block title %} Forgot password || Service 24X7 {% endblock %}

{% block content %}
    <div class="card ">
        <div class="card-header text-center">
            <img class="logo-img" src="{% static 'assets/images/logo.png' %}" alt="logo">
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control form-control-lg" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                <a href="{% url 'signup' %}" class="footer-link">Create An Account</a></div>
            <div class="card-footer-item card-footer-item-bordered">
                <a href="{% url 'login' %}" class="footer-link">Sign In</a>
            </div>
        </div>
    </div>
{% endblock %}
