{% extends 'base.html' %}

{% block title %} Location Filter {% endblock %}

{% block content %}

    {% include 'location/pageheader.html' %}

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Location Filter</h5>
                <div class="card-body">
                    <form method="POST">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="name">Enter Location Name</label>
                                    <input type="text" class="form-control" placeholder="Location name"
                                           name="name" id="name">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="location_type">Enter Location Type</label>
                                    <select name="location_type" id="location_type" class="form-control">
                                        <option value="1">Dhaka</option>
                                        <option value="1">Dhaka</option>
                                        <option value="1">Dhaka</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="parent">Enter Parent Name</label>
                                    <select name="parent" id="parent" class="form-control">
                                        <option value="1">Dhaka</option>
                                        <option value="1">Dhaka</option>
                                        <option value="1">Dhaka</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm">Filter <i class="fa fa-filter"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
